[default]
  # Use this file to define own custom checks and plugin you want to execute.
  # openITCOCKPIT Monitoring Agent is 100% compatible to the "Monitoring Plugins Development Guidelines"
  # https://www.monitoring-plugins.org/doc/guidelines.html
  # So you can use all monitoring plugins that work with: Naemon, Nagios, Shinken, Icinga 1 and Sensu

  # max_worker_threads should be increased with increasing number of custom checks
  # but consider: each thread needs (a bit) memory
  max_worker_threads = 8

[check_whoami]
  command = /usr/bin/whoami
  interval = 60
  timeout = 5
  enabled = false

#[check_users]
   # Run check_users on a Linux, Unix or macOS system
   # The command will net get executed through a shell. If you want to execute something like "cat error.log | grep error | wc -l"
   # you have to create a bash script
#  command = /usr/lib/nagios/plugins/check_users -w 5 -c 10
#  interval = 30
#  timeout = 5
#  enabled = true

#[check_load]
   # Run check_load on a Linux, Unix or macOS system
#  command = /usr/lib/nagios/plugins/check_load -r -w .15,.10,.05 -c .30,.25,.20
#  interval = 60
#  timeout = 5
#  enabled = true

#[check_powershell_script]
   # This example shows the execution of a PowerShell Script on Windows
   # The command will net get executed through a shell.
#  command = powershell.exe -File "C:\example_script.ps1"
#  interval = 60
#  timeout = 10
#  enabled = true
